# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
frontend/.atom/
frontend/.build/
frontend/.buildlog/
frontend/.history
frontend/.svn/
frontend/.swiftpm/
frontend/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/coverage/

# Bruno
backend/bruno/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# Environment variables
*.env

# Backend builds
/backend/serpa-maps
/backend/uploads/

# Fonts
/docker/fonts/Noto Sans Bold
/docker/fonts/Noto Sans Italic
/docker/fonts/Noto Sans Regular