name: Build and Publish Docker Image

on:
  push:
    tags:
      - 'v*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get current tag
        id: get-tag
        run: |
          FULL_TAG=${GITHUB_REF#refs/tags/}
          DOCKER_TAG=${FULL_TAG#v}
          echo "docker_tag=${DOCKER_TAG}" >> $GITHUB_OUTPUT
          echo "Docker Tag: ${DOCKER_TAG}"

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository }}:latest
            ${{ env.REGISTRY }}/${{ github.repository }}:${{ steps.get-tag.outputs.docker_tag }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
